<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewBusinessMonitor - $title$</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/default.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="six columns">
          <a class="brand" href="https://newbusinessmonitor.co.uk/">NewBusinessMonitor</a>
        </div>
        <div class="six columns right">
          <a href="https://newbusinessmonitor.co.uk/">Go To Site</a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="eight columns">
          $body$
        </div>
        <div class="four columns sidebar">
          <p>
          <a href="https://newbusinessmonitor.co.uk/">NewBusinessMonitor</a> is
          a business intelligence service that provides you with sorted and
          filtered UK company data.
          </p>
          <p>
          This is the NewBusinessMonitor developer blog, where I announce
          features and share news.
          </p>
          <h2>How To Reach Help</h2>
          <p>
          Send problems and questions to <a
             href="mailto:support@newbusinessmonitor.co.uk">support@newbusinessmonitor.co.uk</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
